<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styl.css">
    <link rel="stylesheet" href="./light.css">
    <link rel="stylesheet" href="./dark.css">
    <title><%= title %></title>
</head>
<body>
<div class="bok" style="width: 100vw; border: none;">
    <div class="boczny">
    <a href="/databases" target="_top">Databases</a>
    <hr width="90%">
        <% for(t of tables) { %>
                <a target="_TOP" href="/table?t=<%= t.table_name %>&d=<%= database %>"> View <%= t.table_name %></a>
                <a target="_TOP" href="/insert?t=<%= t.table_name %>&d=<%= database %>"> Insert <%= t.table_name %></a>
                <a target="_TOP" href="/update?t=<%= t.table_name %>&d=<%= database %>"> Update <%= t.table_name %></a>
                <a target="_TOP" href="/delete?t=<%= t.table_name %>&d=<%= database %>"> Delete <%= t.table_name %></a>
                <br>
        <% } %>
        <a target="_TOP" href="/query">Twoje zapytanie</a>
    </div>
</div>
</body>
</html>