<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <ul>
        <% for(t of tables) { %>
            <li>
                <a href="/table?t=<%= t.table_name %>&d=<%= database %>"> View <%= t.table_name %></a>
                <a href="/insert?t=<%= t.table_name %>&d=<%= database %>"> Insert <%= t.table_name %></a>
                <a href="/update?t=<%= t.table_name %>&d=<%= database %>"> Update <%= t.table_name %></a>
                <a href="/delete?t=<%= t.table_name %>&d=<%= database %>"> Delete <%= t.table_name %></a>
            </li>
        <% } %>
    </ul>
</body>
</html>